{% extends "base.twig" %}

{% block body %}

    <h1>Liste des produits</h1>
    <br>

    <main class="container">
        <h1 class="mt-2">Présentation des produits</h1>
        <section class="row">

            {% for product in products %}
                <div class="col-4">
                    <div class="card">
                        <img src="/img/uploads/{{ product.getImageName() }}" class="card-img-top"
                             alt="Image de {{ product.getName() }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.getName() }}</h5>
                            <p class="card-text">{{ product.getShortDescription() }}</p>
                            <a href="#" class="card-link btn btn-outline-info">Détail</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}




