<!doctype html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site PHP orienté objet{% endblock %}</title>
    <meta name="description">
    {% block stylesheet %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    {% endblock %}
</head>


<body>

{% block navbar %}{% include 'inc/navbar.twig' %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</body>

</html>